################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RunDMC/.vs/RunDMC.slnx
/RunDMC/.claude
/RunDMC/RunDMC/bin/Debug/net10.0
/RunDMC/RunDMC/obj
RunDMC/.vs/ProjectEvaluation/*